
__pycache__/__init__.cpython-37.pyc
converters/__pycache__/hydamo_to_dflowfm.cpython-37.pyc
core/__pycache__/checks.cpython-37.pyc
core/__pycache__/dfm.cpython-37.pyc
core/__pycache__/geometry.cpython-37.pyc
core/__pycache__/logging.cpython-37.pyc
core/__pycache__/mesh2d.cpython-37.pyc
datamodels/__pycache__/common.cpython-37.pyc
datamodels/__pycache__/cstructures.cpython-37.pyc
datamodels/__pycache__/hydamo.cpython-37.pyc
io/__pycache__/dflowfmwriter.cpython-37.pyc
io/__pycache__/dflowfmwriter.cpython-37.pyc
*.pyc
dhydamo.log
.eggs/*
delft3dfmpy.egg-info
notebooks/.ipynb_checkpoints/Usage_introduction_FM_only-checkpoint.ipynb
notebooks/temp_ascgrid.asc
notebooks/tempgrid_net.nc
data/testmodel_fmonly/*
notebooks/unstruc.dia
.vscode/launch.json
