pip==18.1
bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==1.12.1
GDAL>=2.4.1
geopandas>=0.5.1
Fiona>=1.8.4
Pillow>=6.1.0
pandas>=1.0.3
numpy>=1.16.4
netCDF4>=1.5.1.2
imod>=0.8.0
rasterio>=1.1.2
rasterstats>=0.14.0
descartes>=1.1.0
